{% extends "auctions/layout.html" %}

{% block body %}
    <div class="page-container">
        <h2 class="page-header">{{ header }}</h2>
        <ul  class="list-items">
            {% for item in items %} 
                <li class="list-item">
                    <!-- <img src="{{ item.imageUrl }}" alt="Image"> -->
                    {% if item.imageUrl %}
                    <img src="{{ item.imageUrl }}" alt="Image" class="list-img" onerror="this.onerror=null;this.src='https://st2.depositphotos.com/2102215/46681/v/450/depositphotos_466819550-stock-illustration-image-available-icon-missing-image.jpg';">
                    {% else %} 

                    <img src='https://st2.depositphotos.com/2102215/46681/v/450/depositphotos_466819550-stock-illustration-image-available-icon-missing-image.jpg'  alt="" class="list-img">
                    {% endif %}
                    <div class="list-details">
                        <h3>{{ item.name }}</h3>
                        <p>Rs.{{ item.price }}</p>
                        <p>Owner: {{ item.owner }}</p>
                        <a href="{% url 'item' item.id%}" class="list-btn">View Item</a>
                    </div>
                </li>
            
                {% empty %}
                <div>
                    <span>No Items in the wishlist </span>
                    <a href="{% url 'index' %}"> Add Items</a>
                </div>
                         
            {% endfor %} 
        </ul>
    </div>
{% endblock %}