* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 120px auto 1fr 80px;
    row-gap: 28px
   
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 6%);
    height: 100%;
    padding-left: 32px;
    grid-column: span 12;
    grid-row: 1;
}

.nav-link {
    color: black;
}

.page-container{
    grid-column: span 12;
    grid-row: 2 /  3;
    margin-left: 42px;
    margin-right: 24px;
    margin-bottom: 48px;
}

.page-header {
    margin-bottom: 10px;

}

.category {
    list-style-type: none;
    margin-bottom: 40px;
}

.category>a {
    color: black;
    padding-right: 10%;
}

/* list pages */
 
.list-items {    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 400px));
    grid-auto-rows: 540px;
    row-gap: 8%;
    column-gap: 30px;
    justify-content: space-around;
    margin-bottom: 24px;
    margin-top: 32px

}

.list-item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 4%;
    list-style-type: none;
}


.list-img {
    width: 100%;
    height: 50%;

}

.list-details {
   margin: 8px;
   padding-bottom: 8px;
   text-transform: capitalize;
   padding: 0 16px;
   line-height: 1.4;
   
}

.list-details>p {
    padding: 0;
    margin-top: 8px;
    margin-bottom: 0;
}

.list-details>p:last-of-type{
    margin-bottom: 12%;
}

.list-btn, .item-btn {
    background-color: #ef462f;
    padding: 12px 20px;
    box-shadow: 0 29px 24px 0 rgb(0 0 0 / 10%);
    color: white;
    border: 1px solid #fc624d;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}
.list-btn:hover, .item-btn:hover{
    color:black;
    text-decoration: none;
} 

/* item page */

.item-btn {
    background-color: #173F5F;
    border-color: #206398;
    padding: 10px 16px;
    margin-bottom: 28px;
    margin-top: 16px;
    display: block;
    width: fit-content;
}


.item-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(minmax(fit-content, 50%));
    row-gap: 20px;
    text-transform: capitalize;
}


.item-imgs {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 32px;
}

.item-img {
    width: 100%;
    height: auto;
}

.item-detail {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-comment {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.item-detail > h2 {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 4%;
    margin-top: 6%;
}

.item-detail>p {
    margin-bottom: 2%;
    font-size: 1.2em;

}

#closed-bid {
    color: rgba(0, 128, 0, 0.671);
    font-weight: bold;
    font-size: 24px;
}

#winner {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.bid-div {
    margin-top: 6%;
}

.bid-div>span {
    margin-bottom: 6px;
    display: block;
}

.bid-div>form {
    padding-top: 6px;
}

#bid-amount {
    height: 36px;
    padding: 6px;
}

textarea[name="comment"] {
    padding: 8px;
}

.comments-div > h3 {
    font-size: 24px;
    padding: 10px 0;
}

.comment-div {
    border-left: 6px solid black;
    padding-left: 20px;
    margin-bottom: 30px;
}

.comment-by {
    font-weight: bold;
    padding-bottom: 6px;
}

/* create listing */

.main-forms {  
    margin-top: 50px;

}
.fieldWrapper {
    padding: 14px;
}

#id_long_description{
    height: 100px;
    width: 300px;
    text-align: start;
    padding: 6px;
}
#id_short_description{
    height: 60px;
    width: 300px;
    padding: 6px;
}
.fieldWrapper > label {
    width: 120px;
    font-weight: bold;
    
}

.fieldWrapper > input {
    padding: 4px;
}

@media (max-width: 800px) {
    .fieldWrapper > label {
        display: block;
    }
}

/* login forms  */

.form-group > input {
    width: 400px;
}

/* messages */

.messages > li {
    list-style-type: none;
    color: #fc624d;
}

/* footer */

footer {
    grid-column: span 12;
    grid-row: 4 / 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(238, 238, 198);
    padding-right: 16px;
    color: black;
    font-size: 14px;
    line-height: 1.5;
}

